@use 'sass:map';
@use '../abstracts' as *;

button,
a {
  &.button__default {
    border:1px solid red;
    @include control-size(md);
    padding: 0 var(--spacing-base);
    border-radius: var(--border-radius-md);
    border: none;
    cursor: pointer;
    @include flex($flex: inline-flex, $align: center, $justify: center);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    &:has(.button__icon) {
      gap: var(--spacing-xs);
    }
    .button_text {
      display: inline-block;
    }
    &:hover,
    &:active {
      opacity: 0.85;
    }
  }

  /* size */
  &.size--sm {
    @include control-size(sm);
    padding: 0 var(--spacing-sm);
  }
  &.size--lg {
    @include control-size(lg);
    padding: 0 var(--spacing-xl);
  }
  &.size--full {
    width: 100%;
  }

  /* align */
  &.align--left {
    flex-direction: row-reverse;
  }
  &.align--right {
    flex-direction: row;
  }

  /* color */
  &.color--white {
    background: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-gray-300);
  }
  &.color--dark {
    background: var(--color-blue);
    color: var(--color-point);
  }
  &.color--point {
    background: var(--color-point);
    color: var(--color-blue);
  }

  /* disabled */
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  /* style */
  &.style--line {
    background: var(--color-white);
    &:hover {
      background: var(--color-gray-100);
    }
    &.color--white {
      border: 1px solid var(--color-gray-600);
      color: var(--color-gray-600);
    }
    &.color--dark {
      border: 1px solid var(--color-blue);
      color: var(--color-blue);
    }
    &.color--point {
      border: 1px solid var(--color-point);
      color: var(--color-point);
    }
  }

  &.style--text {
    background: none;
    border: none;
    text-underline-offset: var(--spacing-xxs);
    text-decoration: underline;
    &:hover {
      text-underline-offset: var(--spacing-xxs);
      text-decoration: underline;
    }
    &.color--white {
      color: var(--color-gray-600);
    }
    &.color--dark {
      color: var(--color-blue);
    }
    &.color--point {
      color: var(--color-point);
    }
  }
}

.button__tag {
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-gray-300);
  background: var(--color-white);
  &:hover,
  &:focus,
  &.is-active {
    background: var(--color-gray-300);
  }
}

.button__group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  align-items: center;
  button {
    flex: 0 1 auto;
  }
  &:has(.button__tag) {
    width: auto;
    display: inline-flex;
    gap: var(--spacing-xxs);
  }
  &-left {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-right {
    justify-content: flex-end;
  }
  &-full {
    justify-content: center;
    button {
      flex: 1 1 auto;
    }
  }
  &-down {
    justify-content: center;
    button {
      flex: 1 1 50%;
    }
  }
}
