@use 'sass:map';
@use '../abstracts' as *;

button {
    &.button__default {
        height: map.get($height, 'md');
        padding: 0 var(--spacing-base);
        border-radius: 12px;
        border:none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:has(.button__icon) {
            gap: 8px;
        }
        .button_text {
            display:inline-block;
        }
    }

    /* size */
    &.size--sm {
        height: map.get($height, 'sm');
        padding:0 12px;
    }
    &.size--lg {
        height: map.get($height, 'lg');
        padding:0 32px;
    }
    &.size--full {
        width:100%;
    }

    /* icon */
    .button__icon {
        display: block;
        svg {
            width: 1em !important;
            height: 1em !important;
            margin-top:4px;
        }
    }
    
    /* align */
    &.align--left {
        flex-direction: row-reverse;
    }
    &.align--right {
        flex-direction: row;
    }

    /* color */
    &.color--white {
        background:var(--color-white);
        color:var(--color-blue);
        border: 1px solid var(--color-gray-300);
    }
    &.color--dark {
        background:var(--color-blue);
        color:var(--color-point);
        svg {
            
            path {
                stroke: var(--color-point);
            }
        }
    }
    &.color--point {
        background:var(--color-point);
        color:var(--color-blue);
    }

    /* disabled */
    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    /* style */
    &.style--solid {
        &.color--white {
            background:var(--color-white);
            border:1px solid var(--color-gray-600);
            color:var(--color-gray-600);
        }
        &.color--dark {
            background:var(--color-white);
            border:1px solid var(--color-blue);
            color:var(--color-blue);
        }
        &.color--point {
            background:var(--color-white);
            border:1px solid var(--color-point);
            color:var(--color-point);
        }
    }
}

.button__tag {
    padding:2px 10px;
    border-radius:5px;
    border:1px solid var(--color-gray-300);
    background:var(--color-white);
    &:hover,
    &:focus,
    &.is-active {
        background: var(--color-gray-300);
    }
}

.button__group {
    width:100%;
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
    align-items:center;
    button {
        flex: 0 1 auto;
    }
    &:has(.button__tag) {
        width:auto;
        display:inline-flex;
        gap: 4px;
    }
    &.button__group-left {
        justify-content: flex-start;
    }
    &.button__group-center {
        justify-content: center;
    }
    &.button__group-right {
        justify-content: flex-end;
    }
    &.button__group-full {
        justify-content: center;
        button {
            flex: 1 1 auto;
        }
    }
    &.button__group-down {
        justify-content: center;
        button {
            flex: 1 1 50%;
        }
    }
}