@use 'sass:map';
@use '../abstracts' as *;

.input {
    &__text {
        padding-bottom:1.3em;
        position:relative;
        display:inline-block;
        &-wrapper {
            width:auto;
            height:100%;
            display:inline-block;
            position:relative;
        }
        &-error,
        &-hint {
            .error-message,
            .hint-message {
                font-size:12px;
                position:absolute;
                bottom:0;
                left:8px;
                color:var(--color-error);
            }
            .hint-message {
                color:var(--color-point);
            }
        }
        &:has(.size--full) {
            width:100%;
            .input__text-wrapper {
                width:100%;
            }
        }  
    }

    &__default {
        height: map.get($height, 'md');
        padding:0 32px 0 16px;
        border:1px solid var(--color-gray-300);
        border-radius:12px;
        &:focus-visible {
            outline: 2px solid var(--color-point);
            z-index:1;
        }
        &:read-only:focus-visible {
            outline-color: var(--color-gray-100); // 원하는 색상으로 변경
        }

        &.size--lg {
            height: map.get($height, 'lg');
            padding:0 24px;
            border-radius:16px;
        }
        &.size--full {
            width:100%;
        }
    }
}

.button {
    &__reset {
        display: block;
        position:absolute;
        top:50%;
        right:4px;
        transform:translateY(-50%);
        svg {
            width: 1em !important;
            height: 1em !important;
            margin-top:4px;
        }
        + .button__eye {
            right: 24px;
        }
    }
    &__eye {
        display: block;
        position:absolute;
        top:50%;
        right: 4px;
        transform:translateY(-50%);
        svg {
            width: 1em !important;
            height: 1em !important;
            margin-top:4px;
        }
    }
}