@use 'sass:map';
@use '../abstracts' as *;


.source-code-viewer {
  margin-top: var(--spacing-xl);
  pre {
    margin: 0;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    border-radius: 4px;
    padding: var(--spacing-base);
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    position: relative;
    @include font-style('xsmall');
  }

  &__content {
    @include flex($direction: row, $align: flex-start, $gap: 'md');
    width: 100%;
  }

  &__copy-btn {
    margin-left: auto;
    max-width: 76px;
    min-width: 76px;
    flex-shrink: 0;
  }
}
