@use '../abstracts' as *;

.playground {
  padding: var(--spacing-base) 0;
  &--home {
    // h3 {
    //   margin-top: var(--spacing-xl);
    //   margin-bottom: var(--spacing-base);
    // }
    ul,
    ol {
      li {
        margin-top: 0;
      }
    }
  }

  * {
    + h2 {
      margin-top: var(--spacing-xl);
    }
    + h3 {
      margin-top: var(--spacing-base);
    }
  }

  ul.playground__inner-list,
  ol.playground__inner-list {
    li {
      margin-top: var(--spacing-base);
      margin-bottom: var(--spacing-sm);
      .size__default {
        margin-bottom: var(--spacing-sm);
      }
      .button__group {
        width:auto;
        display:inline-flex;
        gap:var(--spacing-xxs)
      }
    }
  }

  &__inner {
    padding: var(--spacing-md) var(--spacing-sm);
    h3 {
      margin-bottom:var(--spacing-base);
    }
    &-box {
      padding: var(--spacing-md) var(--spacing-md);
      margin:var(--spacing-md) 0;
      border: 1px solid var(--color-gray-300);
      border-radius: var(--border-radius-md);
    }
    
    .playground__components {
      @include flex($direction: column, $align: flex-start, $gap: 'xl');
      h4 {
        display: block;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background:var(--color-gray-300);
          margin: var(--spacing-xs) 0 var(--spacing-md);
        }
      }
      ul {
        @include flex($direction: column, $align: flex-start, $gap: 'md');
      }
    }
  }

  .color-swatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    .color-box {
      width: 100%;
      height: 50px;
      border-radius: 4px;
      margin-bottom: 8px;
      border: 1px solid var(--color-gray-300);
    }
    .color-info {
      text-align: center;
      .color-name {
        font-weight: bold;
      }
      .color-value {
        @include font-style('xsmall');
        color: #666;
      }
    }
  }

  .flex {
    border: 1px solid var(--color-gray-300);
    &.flex--align-start,
    &.flex--align-center,
    &.flex--align-end {
      height: 100px;
    }
    .box {
      padding: var(--spacing-sm) var(--spacing-md);
      background: var(--color-gray-600);
      color: var(--color-white);
    }
  }
}
